

div {
  text-align: center;
  background-color: black;
  color:goldenrod;
}

body{
background-color: rgba(180, 180, 180, 0.801);
}

button {
    background-color: black;
    border: none;
    color: goldenrod;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
  }

hr {
  height: 2px;
  background-color: black;
}

table, th, td {
  border: 1px solid;
}
    